:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: "Raleway", sans-serif;
    --ff-logo: "Oleo Script", cursiv;
    --bc-dark: #2F303A;
    --bc-light: #F5F4FA;
    --bc-primary: #E5E5E5;
    --color-primary: #757575;
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --bc-accent: #424242;
    --color-accent: #2196F3;
    --focus-button: #188CE8;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--ff-primary);
    font-size: 14px;
    color: var(--color-dark);
    background-color: #FFFFFF;
    font-style: normal;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.navigation .logo {
    margin-right: 93px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;

}

.nav-contact-list {
    display: flex;
    align-items: center;
}

.nav-list-item {
    letter-spacing: 0.02em;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.contact-list-item:not(:last-child) {
    margin-right: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}


/*=== Forms ===*/
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: var(--ff-primary);
    cursor: pointer;
}

/*=== Lists, links ===*/
.list {
    list-style: none;
}

.link,
.link {
    text-decoration: none;
}

/*=== Header ===*/
.logo {
    display: inline-block;
    color: var(--color-dark);
    font-family: var(--ff-secondary);
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.logo span {
    color: var(--color-accent);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .link:hover,
.header .link:focus {
    color: var(--color-accent);
}

.nav-list-link {
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--color-dark);
}

.nav-list-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.current::after {
    opacity: 1;
}

.contact-list-item span {
    margin-left: 10px;
}

.contact-list-item .link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container .link:hover svg {
    fill: var(--color-accent);
}

/*=== End of Header ===*/

/*=== Footer ===*/

.footer {
    background-color: var(--bc-dark);
}

.logo-bottom {
    margin-bottom: 20px;
    color: var(--color-light);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
    font-style: normal;
    font-weight: normal;
    line-height: 1.71;
    color: var(--color-light);
}

.contact-list {
    font-style: normal;
    font-weight: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .list li:first-child .link {
    color: var(--color-light);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .list li:first-child .link:focus,
.footer .list li:first-child .link:hover,
.footer .link:focus,
.footer .link:hover {
    color: var(--color-accent);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    margin-bottom: 9px;
}

.footer-mail {
    margin-bottom: 9px;

}

.logo-footer {
    display: flex;
}

.footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.footer p {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer .container > div:last-child {
    margin-left: 70px;
}

.footer .social-list-item a {
    border-radius: 50%;
    background-color: rgba(68, 69, 78, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-item a:focus,
.footer .social-list-item a:hover {
    border: 1px solid var(--color-accent);
    border-radius: 50%;
    background-color: var(--color-accent);
}

.footer .social-list-item a:hover svg,
.footer .social-list-item a:focus svg {
    fill: #fff;
}

.footer .social-icon {
    fill: #FFFFFF;
}

.footer button {
    display: inline-block;
    color: var(--color-light);
    background-color: var(--color-accent);
    font-weight: 700;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    min-width: 200px;
    padding: 9px 62px 9px 29px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer button:focus,
.footer button:hover {
    background-color: var(--focus-button);
}

.form-input {
    display: inline-block;
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    margin-right: 12px;
    color: white;
}

.form-field::placeholder {

}

.form-input::placeholder {
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.form-control {
    display: inline-block;
    position: relative;
}

.send-icon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    margin-left: 12px;
}

/*=== End of Footer ===*/

/*=== Hero ===*/

.hero {
    background-color: var(--bc-dark);
    text-align: center;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
}


.hero .hero-title {
    color: var(--color-light);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.hero button {
    color: var(--color-light);
    background-color: var(--color-accent);
    font-weight: 700;
    line-height: 1.88;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
}

.hero button {
    display: inline-block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero button:hover,
.hero button:focus {
    background-color: var(--focus-button);
}


h1 {
    margin-bottom: 30px;
}

/*=== End of Hero ===*/

/*=== Benefits ===*/

.benefits-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--color-dark);
}

p {
    color: var(--color-primary);
}

.list p {
    color: var(--color-primary);
    font-weight: normal;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.benefits-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.benefits-list-item:not(:last-child) {
    margin-right: 30px;
}

.benefits-list-item::before {
    display: block;
    content: "";
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px
}

.benefits-list-item:nth-child(1)::before {
    background-image: url("../images/svg/group1.svg");
}

.benefits-list-item:nth-child(2)::before {
    background-image: url("../images/svg/group2.svg");
}

.benefits-list-item:nth-child(3)::before {
    background-image: url("../images/svg/group3.svg");
}

.benefits-list-item:nth-child(4)::before {
    background-image: url("../images/svg/group4.svg");
}

h3 {
    margin-bottom: 10px;
}

/*=== End of Benefits ===*/

/*=== Our activities ===*/
.activity {
    padding-top: 0;
}

.activity-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.activity-list {
    display: flex;
    justify-content: space-between;
}

.activity-list-item .activity-list:not(:last-child) {
    margin-right: 30px;
}

.benefits-list-item {
    width: 270px;
}

.holder {
    position: relative;
}

.holder .desc {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;


    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px;
}

/*=== End of activity ===*/


/*=== Employees ===*/
.employees {
    background-color: var(--bc-light);
}

.employees-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.employees-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.container-employees {
    padding-top: 30px;
    padding-bottom: 30px;
}

.employees-position {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
}

.employees-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.employees-list-item {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;

}

.employees-list-item:nth-child(4n) {
    margin-right: 0;
}

.employees h2 {
    margin-bottom: 50px;
}

.social-list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.social-list-item {
    display: inline-block;
    margin-right: 10px;
}

.social-list-item:last-child {
    margin-right: 0;
}

.social-list-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .social-icon {
    width: auto;
    height: auto;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item a:focus,
.social-list-item a:hover {
    background-color: var(--color-accent);
}

.social-list-item a:hover svg,
.social-list-item a:focus svg {
    fill: #fff;
}

/*=== End of Employees ===*/

/*=== Clients ===*/
.clients-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients-title {
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.clients-list-item {
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item:not(:first-child),
.clients-list-item:not(:last-child) {
    margin-right: 30px;
}

.clients-list-item:last-child {
    margin-right: 0;
}

.clients-list-item:hover,
.clients-list-item:focus {
    background-color: #FFFFFF;
    color: var(--color-accent);
    border-color: var(--color-accent);
}

.clients-icon {
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover,
.clients-icon:focus {
    fill: var(--color-accent);
}

.clients-link {
    padding: 0;
    border: none;
}

/*=== Portfolio ===*/
.portfolio button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--bc-light);
    color: var(--color-dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio button:hover,
.portfolio button:focus {
    background-color: var(--color-accent);
    color: var(--color-light);
}

.flex-element .link {
    display: inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element .link:focus,
.flex-element .link:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
}

.site-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-dark);
}

.site-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-primary);
}

.flex-button {
    display: flex;
    justify-content: center;
}

.flex-button-list:not(:first-child),
.flex-button-list:not(:last-child) {
    margin-right: 8px;
}

.flex-button-list:last-child {
    margin-right: 0;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
}

.flex-element {
    width: 370px;
}

.flex-element:focus link,
.flex-element > a:hover link {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-element:not(:nth-child(3n)) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
    margin-bottom: 30px;
}

.flex-button {
    margin-bottom: 50px;
}

.flex-button .button {
    padding: 6px 22px;
}

.tile {
    padding: 20px 24px;

    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.site-title {
    margin-bottom: 4px;
}

.box {
    position: relative;
    overflow: hidden;
}

.list .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;

    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .overlay,
.link:focus .overlay {
    transform: translateY(0%);
}

/*=== End of Portfolio ===*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 528px;
    height: 582px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}


.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
    fill: var(--color-accent);
}

.contact-form b {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;

}

.form-control label {
    display: block;

}

.contact-form-field span {
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-field input,
.form-control input {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.form-field label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-field-wrapper {
    position: relative;
}

.form-field-wrapper svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

}

.form-field input:focus {
    outline: none;
    border-color: var(--color-accent);

}

.form-field textarea:focus {
    outline: none;
    border-color: var(--color-accent);
}

.form-field input:focus + svg {
    fill: var(--color-accent);
}

.form-control-checkbox {
    margin-bottom: 30px;
}

.contact-form-checkbox-label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url("../images/svg/checkbox.svg");
    cursor: pointer;
    margin-right: 8px;

}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
    background-image: url("../images/svg/checked.svg");
    background-color: var(--color-accent);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
}

.contact-form-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.form-button {
    display: block;
    margin: 0 auto;
    padding: 10px 55px;
    background-color: var(--color-accent);
    color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-button:focus,
.form-button:hover {
    background-color: var(--focus-button);
}

.contact-form-checkbox-wrapper {
    margin-bottom: 30px;
}

.contact-form-checkbox-label a {
    color: var(--color-accent);
}