.clients-title {
  @include font(36px, 700, 42px);
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.clients-list-item {
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:not(:first-child),
  &:not(:last-child) {
    margin-right: 30px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: #FFFFFF;
    color: var(--color-accent);
    border-color: var(--color-accent);
  }

}

.clients-icon {
  width: 170px;
  height: 92px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus {
    fill: var(--color-accent);
  }
}


.clients-link {
  padding: 0;
  border: none;
}
